// Place all the styles related to the Interactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#blueprint {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: auto;
  padding: 0;
  z-index: 0;
}

form#filter-form {
  margin: 0;

  select {
    margin-bottom: 10px;
  }
}

#interactions-menu-area {
  position: fixed;
  top: 40px;
  left: -235px;
  height: 100%;
  z-index: 2;

  ul#interactions-menu {
    width: 200px;
    border-radius: 0px;
    float: left;
    height: 100%;
  }
}

#service-metadata {
  position: fixed;
  top: 40px;
  left: 0;
  padding: 5px 20px 0 20px;
  width: 100%;
  background-color: rgb(230, 230, 230);
  border-bottom: 1px solid #aaa;
  z-index: 1;

  b {
    font-size: 120%;
    padding-right: 10px;
  }

  .code {
    font-family: Consolas;
    font-size: 90%;
    color: #666;
  }

  a {
    margin-top: 10px;
  }

  .service-data {
    max-height: 55px;
    overflow: hidden;
  }

  .slide-menu {
    display: none;
  }
}

table#interactions-table {
  margin: 90px 10px 10px 10px;
}

table#interactions-table tr:not(:last-child) {
  border-bottom: 1px solid #999;
}

table#interactions-table tr td {
  height: 145px;
  min-width: 230px;
  width: 230px;
  padding: 10px 5px 10px 5px;
  vertical-align: top;
  text-align: center;
  position: relative;

  .well {
    margin: 5px 0 0 0;
    text-align: left;
    max-height: 115px;
    min-height: 115px;
    width: 202px;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
    box-shadow: 1px 2px 5px #aaa;

    &:hover {
      max-height: 200px;
      box-shadow: 1px 2px 10px #666;
      z-index: 1;
    }

    h4 {
      margin: 0 0 5px 0;
      font-size: 110%;
      line-height: 110%;
    }

    p {
      margin: 0;
    }
  }
}

table#interactions-table tr td:first-child {
  vertical-align: bottom;
  text-align: left;
  min-width: 120px;
  width: 100px;

  p.subtitle {
    font-size: 90%;
    color: #666;
    max-width: 110px;
    margin: 0;
  }
}