// Place all the styles related to the Interactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#blueprint {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: scroll;
  padding: 0;
  z-index: 0;
}

#interactions-menu-area {
  position: fixed;
  top: 40px;
  left: -235px;
  height: 100%;
  z-index: 2;

  ul#interactions-menu {
    width: 200px;
    border-radius: 0px;
    float: left;
    height: 100%;
  }
}

table#interactions-table {
  margin: 50px 10px 10px 10px;
}

table#interactions-table tr:not(:last-child) {
  border-bottom: 1px solid #999;
}

table#interactions-table tr td {
  height: 140px;
  min-width: 210px;
  width: 210px;
  padding: 10px 5px 10px 5px;
  vertical-align: top;
  text-align: center;
  position: relative;

  .well {
    margin: 5px 0 0 0;
    text-align: left;
    max-height: 110px;
    min-height: 110px;
    width: 182px;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
    box-shadow: 1px 2px 5px #aaa;

    &:hover {
      max-height: 200px;
      box-shadow: 1px 2px 10px #666;
    }

    h4 {
      margin: 0 0 5px 0;
    }

    p {
      margin: 0;
    }
  }
}

table#interactions-table tr td:first-child {
  vertical-align: bottom;
  text-align: left;
  min-width: 120px;
  width: 120px;

  p.subtitle {
    font-size: 90%;
    color: #666;
    max-width: 110px;
    margin: 0;
  }
}