// Place all the styles related to the Interactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table#interactions-table tr:not(:last-child) {
  border-bottom: 1px solid #999;
}

table#interactions-table tr td {
  height: 150px;
  width: 280px;
  padding: 10px;
  vertical-align: middle;
  text-align: center;

  .well {
    margin: 0;
    text-align: left;
  }

  .btn {
    display: none;
    opacity: 0.5;
  }

  .btn:hover {
    opacity: 1;
  }
}

table#interactions-table tr td:first-child {
  vertical-align: bottom;
  text-align: left;
  width: 130px;

  p.subtitle {
    font-size: 90%;
    color: #666;
    max-width: 110px;
    margin: 0;
  }
}