// Place all the styles related to the ServiceSystems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#file-style {
  width: 500px;
  height: 200px;
  background: #eee;
  border: 5px dashed #999;
  text-align: center;
  position: absolute;
  z-index: -1;

  h4 {
    color: #999;
    margin-top: 70px;
    line-height: 2;
    margin: 40px;
  }
}

#file {
  width: 500px;
  height: 200px;
  opacity: 0;
}